:root {
    --color-primary: hsl(195, 30%, 70%);
    --color-text: hsl(131, 50%, 10%);
    --color-tertiary: hsl(191, 80%, 20%);
    --color-accent: hsl(71, 80%, 20%);
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1 {
    font-family: Arial;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin: 0 auto 10px auto;
    color: var(--color-text );
}

h2 {
    font-family: Arial;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 8px auto;
    color: var(--color-text );
}

p {
    font-family: Arial;
    font-weight: 500;
    width: 60%;
    margin: 0 auto 8px auto;
    color: var(--color-text );
}

body {
    background-color: var(--color-primary);
}

.DivContent {
    background: linear-gradient(0deg, var(--color-primary), white);
}

.SplitSection {
    display: flex;
    width: 60%;
    height: 50%;
    margin: 0 auto 8px auto;
    justify-content: center;
}

.FlexDiv {
    margin: 0 auto;
    width: auto;
    flex-grow: 1;
}

.MultilineInput {
    width: 90%;
}